<main class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Contact</h1>
      <p class="text-center mt-3">Pour me contacter, vous pouvez utiliser Discord ;-)</p>
    </div>
  </div>
</div>