<main class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">La fine équipe</h1>
      <p class="text-center mt-5">Bienvenue sur la page présentant mon équipe !</p>
      <p class="text-center">Pour ce projet, j'ai travaillé en collaboration avec moi même :-D</p>
    </div>
  </div>
</div>