<main class="container">
  <h1 class="text-center font-weight-bold text-danger">La (très) fine équipe</h1>
  <hr>
  <h3 class="text-center font-italic">Bienvenue sur la page présentant mon équipe !</h3>
  <p class="text-center mt-3 font-italic">Pour ce projet, j'ai travaillé en collaboration avec moi même :-D</p>
  <%= image_tag "taz.jpg", alt: "Taz tout content", class: "img-fluid mx-auto d-block mt-5" %>
</main>