<main class="container">
  <h1 class="text-center font-weight-bold text-danger">Bienvenue <%= params['first_name'] %> !</h1>
  <hr>
  <h3 class="text-center font-italic">Nous sommes ravis de te voir sur la plateforme, <%= params['first_name'] %> !</h3>
  <p class="text-center mt-3 font-italic">Tu peux retrouver ici notre site de potins. Pas mal, non ?</p>
  <%= image_tag "taz.jpg", alt: "Taz tout content", class: "img-fluid mx-auto d-block mt-5" %>
</main>