<main class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Bienvenue <%= params['first_name'] %> !</h1>
      <p class="text-center mt-3"><%= params['first_name'] %>, tu peux retrouver ici notre site de potins. Pas mal, non ?</p>
    </div>
  </div>
</div>